<div class="left" ng-controller='SideController as SideCtrl'>
  <div class='switch' ng-hide="user"> Welcome to JavaScript Typist! Log in to keep track of your High Scores! </div>
  <div class='switch'> Recent Games </div>
  <ul class='switch' ng-show="user">
    <li><strong>{{user.username}}</strong></li>
    <li>Average: {{user.chars*12000/user.time | number:0}} wpm</li>
    <li>Characters: {{user.chars}} </li>
    <li>Accuracy: {{ ((1-(user.mistakes/user.chars))*100) | number: 0}} %</li>
  </ul>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: user.username : true | orderBy:'-created_at' | limitTo: 15">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>

<div id='about' class='container'>
  <h1 class='about'>About</h1>

  <p>My name is Edwin, an aspiring software developer at <a class='link' href='http://hackreactor.com'>Hack Reactor.</a> JavaScript Racing is a game I created as a solo project.</p>

  <p>I'm a terrible typist, especially when it comes to the heavy syntax required in coding. However, when I'm coding my focus is on building whatever I'm trying to build. Thus, I decided to create JavaScript typing to help myself, and anyone else, get better at typing JavaScript.

  <p>JavaScript Typist was built with Angular, HTML, and CSS exclusively. It uses certain functions from the <a class='link' href="http://underscorejs.org">Underscore.js</a> library as a context for practicing JavaScript typing so the user doesn't need to come up with code while practicing.</p>

  <h1 class='about'>Contact Me</h1>

  <p>Email me any suggestions, comments, or bugs at eddyjs1987@gmail.com.</p>

</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div class='switch'>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | orderBy:'-wpm' | limitTo: 10">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
  <div ng-click='click()' class='switch'>Scores by Function</div>
  <div ng-click='click()' class='switch'>{{display}}</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: display : true | orderBy:'-wpm'">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>