<div class="left" ng-controller='SideController as SideCtrl'>
  <div class='switch' ng-hide="user"> Welcome to JavaScript Racing! Log in to keep track of your High Scores! </div>
  <div class='switch'> Recent Games </div>
  <ul class='switch' ng-show="user">
    <li><strong>{{user.username}}</strong></li>
    <li>Average: {{user.chars*12000/user.time | number:0}} wpm</li>
    <li>Characters: {{user.chars}} </li>
    <li>Accuracy: {{ ((1-(user.mistakes/user.chars))*100) | number: 0}} %</li>
  </ul>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: user.username | orderBy:'-created_at' | limitTo: 15">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>

<div class="container" ng-controller='GameController as GameCtrl'>
  <div class="game">
    <span ng-model='start' class='complete'>{{ start }}</span><!--
    --><span class='current'></span><!--
    --><span ng-model='end' class='incomplete'>{{ end }}</span>
  </div>
  <div id="container">
    <ul id="keyboard" class='clearfix'>
        <li class="192"><span>~</span><span>`</span></li>
        <li class="49"><span>!</span><span>1</span> </li>
        <li class="50"><span>@</span><span>2</span> </li>
        <li class="51"><span>#</span><span>3</span> </li>
        <li class="52"><span>$</span><span>4</span> </li>
        <li class="53"><span>%</span><span>5</span> </li>
        <li class="54"><span>^</span><span>6</span> </li>
        <li class="55"><span>&amp;</span><span>7</span> </li>
        <li class="56"><span>*</span><span>8</span> </li>
        <li class="57"><span>(</span><span>9</span> </li>
        <li class="48"><span>)</span><span>0</span> </li>
        <li class="189"><span>_</span><span>-</span></li>
        <li class="187"><span>+</span><span>=</span> </li>
        <li class="delete lastitem 8">delete</li>
        <li class="tab 9">tab</li>
        <li class="81">q</li>
        <li class="87">w</li>
        <li class="69">e</li>
        <li class="82">r</li>
        <li class="84">t</li>
        <li class="89">y</li>
        <li class="85">u</li>
        <li class="73">i</li>
        <li class="79">o</li>
        <li class="80">p</li>
        <li class="219"><span>{</span><span>[</span> </li>
        <li class="221"><span>}</span><span>]</span> </li>
        <li class="symbol lastitem 220"><span>|</span><span>\</span> </li>
        <li class="capslock 27">caps lock</li>
        <li class="65">a</li>
        <li class="83">s</li>
        <li class="68">d</li>
        <li class="70">f</li>
        <li class="71">g</li>
        <li class="72">h</li>
        <li class="74">j</li>
        <li class="75">k</li>
        <li class="76">l</li>
        <li class="186"><span>:</span><span>;</span> </li>
        <li class="222"><span>&quot;</span><span>'</span> </li>
        <li class="return lastitem 13">return</li>
        <li class="left-shift 16">shift</li>
        <li class="90">z</li>
        <li class="88">x</li>
        <li class="67">c</li>
        <li class="86">v</li>
        <li class="66">b</li>
        <li class="78">n</li>
        <li class="77">m</li>
        <li class="188"><span>&lt;</span><span>,</span> </li>
        <li class="190"><span>&gt;</span><span>.</span> </li>
        <li class="191"><span>?</span><span>/</span> </li>
        <li class="right-shift lastitem 16">shift</li>
        <li class="space lastitem 32">&nbsp;</li>
    </ul>
  </div>
  <div class='score'> Current Words per Minutes: {{ wpm }}</div>
  <div class='mistakes'> Mistakes so far: {{ mistakes }}</div>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div class='switch'>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | orderBy:'-wpm' | limitTo: 10">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
  <div ng-click='click()' class='switch'>Scores by Function</div>
  <div ng-click='click()' class='switch'>{{display}}</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: display | orderBy:'-wpm'">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>