<div class="left" ng-controller='SideController as SideCtrl'>
  <div class='switch' ng-hide="user"> Welcome to JSRacing! Log in to keep track of your High Scores! </div>
  <ul class='switch' ng-show="user">
    <li>{{user.username}}</li>
    <li>Average: {{user.chars*12000/user.time | number:0}} words/minute</li>
    <li>Total Characters: {{user.chars}} </li>
    <li>Accuracy: {{ ((1-(user.mistakes/user.chars))*100) | number: 0}} %</li>
  </ul>
</div>

<div class="container" ng-controller='GameController as GameCtrl'>
  <div class='scoreboard'> You finished with {{ lastWPM }} words per minute! Not bad... I guess.</div>
  <div class='scoreboard'> You made {{ lastMistakes }} mistakes. That's {{(1-(lastMistakes/lastChars))*100 | number:0 }} percent accuracy!</div>
  <div class='scoreboard'>Would you like to <a class='replay' ui-sref='game'>Play Again?</a></div>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div class='switch'>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | orderBy:wpm">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>