<div class="left" ng-controller='SideController as SideCtrl'>
  <div class='switch' ng-hide="user"> Welcome to JSRacing! Log in to keep track of your High Scores! </div>
  <div class='switch'> Recent Games </div>
  <ul class='switch' ng-show="user">
    <li>{{user.username}}</li>
    <li>Average: {{user.chars*12000/user.time | number:0}} words/minute</li>
    <li>Total Characters: {{user.chars}} </li>
    <li>Accuracy: {{ ((1-(user.mistakes/user.chars))*100) | number: 0}} %</li>
  </ul>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: user.username | orderBy:'-created_at' | limitTo: 15">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>

<div class="container" ng-controller='GameController as GameCtrl'>
  <div class="game">
    <span ng-model='start' class='complete'>{{ start }}</span><!--
    --><span class='current'></span><!--
    --><span ng-model='end' class='incomplete'>{{ end }}</span>
  </div>
  <div id="container">
    <ul id="keyboard" class='clearfix'>
        <li class="192">` ~ </li>
        <li class="49">1 ! </li>
        <li class="50">2 @ </li>
        <li class="51">3 # </li>
        <li class="52">4 $ </li>
        <li class="53">5 % </li>
        <li class="54">6 ^ </li>
        <li class="55">7 &amp; </li>
        <li class="56">8 * </li>
        <li class="57">9 ( </li>
        <li class="48">0 ) </li>
        <li class="189">- _ </li>
        <li class="187">= + </li>
        <li class="delete lastitem 8">delete</li>
        <li class="tab 9">tab</li>
        <li class="81">q</li>
        <li class="87">w</li>
        <li class="69">e</li>
        <li class="82">r</li>
        <li class="84">t</li>
        <li class="89">y</li>
        <li class="85">u</li>
        <li class="73">i</li>
        <li class="79">o</li>
        <li class="80">p</li>
        <li class="219">[ { </li>
        <li class="221">] } </li>
        <li class="symbol lastitem 220">\ | </li>
        <li class="capslock 27">caps lock</li>
        <li class="65">a</li>
        <li class="83">s</li>
        <li class="68">d</li>
        <li class="70">f</li>
        <li class="71">g</li>
        <li class="72">h</li>
        <li class="74">j</li>
        <li class="75">k</li>
        <li class="76">l</li>
        <li class="186">; : </li>
        <li class="222">' &quot; </li>
        <li class="return lastitem 13">return</li>
        <li class="left-shift 16">shift</li>
        <li class="90">z</li>
        <li class="88">x</li>
        <li class="67">c</li>
        <li class="86">v</li>
        <li class="66">b</li>
        <li class="78">n</li>
        <li class="77">m</li>
        <li class="188">, &lt; </li>
        <li class="190">. &gt; </li>
        <li class="191">/ ? </li>
        <li class="right-shift lastitem 16">shift</li>
        <li class="space lastitem 32">&nbsp;</li>
    </ul>
  </div>
  <div class='scoreboard'> Current Words per Minutes: {{ wpm }}</div>
  <div class='scoreboard'> Mistakes so far: {{ mistakes }}</div>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div class='switch'>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | orderBy:'-wpm' | limitTo: 10">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
  <div ng-click='click()' class='switch'>Scores by Function</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: display | orderBy:'-wpm'">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>