<div class="left" ng-controller='SideController as SideCtrl'>
  <div ng-hide="user"> Welcome to JSRacing </div>
  <ul ng-show="user">
    <li>{{user.username}}</li>
    <li>Average: {{Math.round(user.chars*12000/user.time)}} words/minute</li>
    <li>Total Characters: {{user.chars}} </li>
    <li>Total Mistakes: {{ user.mistakes }} </li>
  </ul>
</div>

<div id='signup' class='container' ng-controller='AuthController'>
  <h1>Sign Up</h1>
  <form name="signupForm" ng-submit='signupForm.$valid && signup()' novalidate>
    <input type='text' ng-model='user.username' ng-minlength=5 ng-maxlength=15 placeholder="Username 5-15 characters" required>
    <input type="password" ng-model='user.password' ng-minlength=4 ng-maxlength=15 placeholder="Password between 4-15 characters" required>
    <button>Sign Up</button>
  </form>
  <a class='othersign' href="#/signin">Sign in to your account!</a>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>