<div class="left" ng-controller='SideController as SideCtrl'>
  <ul>
    <li>User</li>
    <li>Best: {{best}} words/minute</li>
    <li>Average: {{wpm}} words/minute</li>
    <li>Games played: {{ count }}</li>
    <li>Date Joined {{ createdAt }} </li>
  </ul>
</div>

<div id='signin' class='container' ng-controller='AuthController as AuthCtrl'>
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signinForm.$valid &&signin()'  novalidate>
    <input type='text'ng-model='user.username' placeholder='Username...' ng-minlength=5 ng-maxlength=15 required>
    <input type="password" ng-model='user.password' placeholder='Password...' ng-minlength=8 ng-maxlength=20 required>
    <button>Sign In</button>
  </form>
  <a class='othersign'href="#/signup" >Sign up now!!!</a>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th> 
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores">
      <td>{{score.wpm}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>