<div class="left" ng-controller='SideController as SideCtrl'>
  <div class='switch' ng-hide="user"> Welcome to JSRacing! Log in to keep track of your High Scores! </div>
  <ul class='switch' ng-show="user">
    <li>{{user.username}}</li>
    <li>Average: {{user.chars*12000/user.time | number:0}} words/minute</li>
    <li>Total Characters: {{user.chars}} </li>
    <li>Accuracy: {{ ((1-(user.mistakes/user.chars))*100) | number: 0}} %</li>
  </ul>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: user.username | orderBy:'createdAt' | limitTo: 15">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>

<div id='signup' class='container' ng-controller='AuthController'>
  <h1>Sign Up</h1>

  <div class='fail' ng-show='fail'> Username Taken! </div>
  <form name="signupForm" ng-submit='signupForm.$valid && signup()' novalidate>
    <input type='text' ng-model='user.username' ng-minlength=5 ng-maxlength=15 placeholder="Username 5-15 characters" required>
    <input type="password" ng-model='user.password' ng-minlength=4 ng-maxlength=15 placeholder="Password between 4-15 characters" required>
    <button>Sign Up</button>
  </form>
  <a class='othersign' href="#/signin">Have an account? Sign in!</a>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div class='switch'>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | orderBy:'-wpm' | limitTo: 10">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>