<div class="left" ng-controller='SideController as SideCtrl'>
  <div class='switch' ng-hide="user"> Welcome to JSRacing! Log in to keep track of your High Scores! </div>
  <div class='switch'> Recent Games </div>
  <ul class='switch' ng-show="user">
    <li>{{user.username}}</li>
    <li>Average: {{user.chars*12000/user.time | number:0}} words/minute</li>
    <li>Total Characters: {{user.chars}} </li>
    <li>Accuracy: {{ ((1-(user.mistakes/user.chars))*100) | number: 0}} %</li>
  </ul>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: user.username | orderBy:'-created_at' | limitTo: 15">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>

<div id='signin' class='container' ng-controller='AuthController as AuthCtrl'>
  <h1>Sign In</h1>

  <div class='fail' ng-show='fail'> Invalid Username or Password </div>
  <form name="signinForm" ng-submit='signinForm.$valid && signin()'  novalidate>
    <input type='text'ng-model='user.username' placeholder='Username' ng-minlength=5 ng-maxlength=15 required>
    <input type="password" ng-model='user.password' placeholder='Password' ng-minlength=4 ng-maxlength=15 required>
    <button>Sign In</button>
  </form>
  <div>Don't have an account?<a class='othersign' href="#/signup">Sign up now!!!</a></div>
</div>

<div class="right" ng-controller='TopController as TopCtrl'>
  <div class='switch'>Top Scores</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | orderBy:'-wpm' | limitTo: 10">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
  <div ng-click='click()' class='switch'>Scores by Function</div>
  <table>
    <tr>
      <th>WPM</th>
      <th>Username</th>
      <th>Function</th>
      <th>Mistakes</th>
    </tr>
    <tr ng-repeat="score in scores | filter: display | orderBy:'-wpm'">
      <td>{{score.wpm}}</td>
      <td>{{score.username}}</td>
      <td>{{score.function}}</td>
      <td>{{score.mistakes}}</td>
    </tr>
  </table>
</div>